.intro {
  text-align: left;
  display: block;
  margin: 92px auto 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1017px;
}

.intro__title {
  font-family: "Inter", arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  max-width: 1017px;
  max-height: 116px;
}

.intro__texts {
  text-align: left;
  display: block;
}

.intro__text {
  font-family: "Inter", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  margin: 40px 0 0;
  width: 722px;
  position: relative;
}

.intro__quote {
  font-family: "Inter", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  position: absolute;
  max-width: 722px;
  margin: 10px 2px 0px 330px;
}

.intro__paragraph {
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  width: 720px;
  margin: 32px 0 0;
}

@media (min-width: 650px) and (max-width: 768px) {
  .intro {
    max-width: 720px;
    max-height: 607px;
  }

  .intro__title {
    max-width: 720px;
    max-height: 232px;
    margin: 55px auto 15px;
  }

  .intro__text {
    max-width: 720px;
    max-height: 136;
  }

  .intro__paragraph {
    width: 720px;
    max-height: 182px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    max-height: 175px;
  }

  .intro__text {
    max-width: 288px;
    max-height: 300px;
  }

  .intro__quote {
    max-width: 288px;
    max-height: 34px;
  }

  .intro__paragraph {
    max-height: 442px;
    max-width: 288px;
  }
}
