.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 20px;
  max-width: 984px;
  width: 100%;
}

.place__title {
  font-family: "Inter", arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  max-width: 460px;
  width: 100%;
  margin: 0;
  grid-area: "title";
}

.place__image {
  width: 100%;
  width: 460px;
  grid-area: "image";
}

.place__link {
  font-family: "Inter", arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  width: 300px;
  width: 75%;
  height: 48px;
  padding: 13px 20px 13px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: #0278fe;
  grid-area: "link";
  box-sizing: border-box;
}

.place__link:hover {
  background-color: #0063d2;
}

.place__subtitle {
  max-width: 456px;
  width: 100%;
  margin: 0;
  grid-area: "subtitle";
  align-self: end;
}

.place__artist {
  font-family: "Inter", arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
}

.place__artist-name {
  font-family: "Inter", arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.place__paragraphs {
  display: grid;
  grid-area: "paragraphs";
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
}

.place__paragraph {
  font-family: "Inter", arial, sans-serif;
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  width: 483px;
  row-gap: 25px;
}

@media (min-width: 650px) and (max-width: 768px) {
  .place {
    width: 720px;
  }

  .place__image {
    width: 100%;
    width: 340px;
  }

  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }

  .place__paragraph {
    width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .place__subtitle {
    width: 295px;
  }

  .place__link {
    width: 355px;
    height: 48px;
  }
}

@media (max-width: 320px) {
  .place {
    width: 320px;
    grid-template-areas:
      "title"
      "subtitle"
      "image"
      "paragraphs"
      "paragraphs"
      "link";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .place__image {
    width: 100%;
    width: 320px;
  }

  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__link {
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .place__paragraph {
    width: 288px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .place__subtitle {
    width: 288px;
  }
}
